body {
    background-image: radial-gradient( circle farthest-corner at 5.6% 54.5%,  rgba(47,71,79,1) 0%, rgba(159,188,198,1) 83.6% );
}


.boxes {
    display: flex;
    width: 100%;
}

.progress {
    border: 1px solid #c7c7c7;
    border-right: none;
    position: relative;
}

.problem {
    text-align: center;
    font-size: 3rem;
}

.our-form {
    display: flex;
    justify-content: center;
    
}

.button {
    width: 6em;
    background-color: rgba(35, 173, 211, 0.781);
}

.button:hover{
    background-color: rgba(144, 189, 202, 0.781);
}

.our-field {
    margin-right: 1em;
    padding: .3em;
    font-size: 1rem;
    background-color:rgba(144, 189, 202, 0.781);
}

.status {
    text-align: center;
    margin: 2em;
    font-size: 1.3rem;
    
}

.end-message {
    text-align: center;
}

.reset-btn {
    margin: 2.5em;
    padding: .6em;
}

.progress-inner {
    background-color: #7ecc00;
    /* padding: 2em; */
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: .6;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform .4s ease-out;
}

.box {
    height: 50px;
    border-right: 1px solid #c7c7c7 ;
    flex: 1;
}

/* this is the finnish game background */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .33s ease-out;
    transform: scale(1.2);
}

body.overlay-is-open .overlay {
opacity: 1;
visibility: visible;
transform: scale(1);
}

body.overlay-is-open .main-ui {
    filter: blur(3px);
}

@keyframes showError {
    50% {
        color: red;
        transform: scale(1.2);
    }

    100% {
        color: #333;
        transform: scale(1);
    }
}

.animate-wrong {
    animation: .40s showError;
}